<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="areas">
	<select id="findByCode" resultType="data.area.Area">
		select * from areas where code = #{code}
	</select>
	<insert id="save" parameterType="hashmap">
		insert into areas values(#{name}, #{code})
	</insert>
</mapper>
