<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="statuses">
	<select id="statusCheck" resultType="data.statuses.Status" parameterType="hashmap">
		select * from statuses where content_id = #{contentId} and user_id = #{userId}
	</select>
	<insert id="status" parameterType="hashmap">
		insert into statuses(USER_ID,CONTENT_ID,STATUS) values(#{userId}, #{contentId},1)
	</insert>
	<update id="updateViews">
		update reviews set views = views + 1 where Id = #{boardId}
	</update>
</mapper>
